<h1>Search User</h1>
<form action="*" method="GET" #searchUserForm="ngForm" >
  <label for="username">Username: </label>
  <input ngModel type="search" name="username" id="username" placeholder="123RickRoll" #searchWord="ngModel" >
  <input type="submit" value="Search User" (click)="searchUsers(searchWord.value)">
</form>

<br>
<div *ngIf="foundUsers">
<h1>List of Found Users Matching {{searchTerm}}</h1>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>username</td>
      <td>password</td>
      <td>age</td>
      <td>gender</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of searchedUsers" (click)="getSelectedUser(user)">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
  </table>

</div>


<br>
<h1>List of all Users</h1>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>username</td>
      <td>password</td>
      <td>age</td>
      <td>gender</td>
      <td>posts</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="getSelectedUser(user)">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td>
        <!-- list of user's post -->
        <p *ngFor="let post of user.posts">{{post}}</p>
      </td>
    </tr>
  </tbody>
  </table>

  <br>

<div *ngIf="selectedUser">
  <h3>Update {{selectedUser.username}}</h3>
  <form #updateUserForm="ngForm">
    <input [ngModel]="selectedUser.id" type="hidden" name="id" value="selectedUser.id">

    <label for="username">Username:</label>
    <input [ngModel]="selectedUser.username" type="text" name="username" id="username" value="selectedUser.username"> <br>

    <label for="password">password:</label>
    <input [ngModel]="selectedUser.password" type="text" name="password" id="password" value="selectedUser.password"> <br>

    <label for="age">age:</label>
    <input [ngModel]="selectedUser.age" type="text" name="age" id="age" value="selectedUser.age"> <br>

    <label for="gender">gender:</label>
    <input [ngModel]="selectedUser.gender" type="text" name="gender" id="gender" value="selectedUser.gender"> <br>

    <!-- update user button -->
    <input type="submit" value="Update {{selectedUser.username}}" (click)="updateUser(updateUserForm)"> <br>
    <!-- back button -->
    <button (click)="goBack()">Go Back</button> <br>
    <!-- delete button -->
    <input type="submit" (click)="deleteUser(selectedUser.id)" value="Delete {{selectedUser.username}}"> <br>
  </form>


   <!-- list of user's post -->
   <h4>{{selectedUser.username}}'s Posts:</h4>
   <p>{{selectedUserPost}}</p>
   <p *ngFor="let post of selectedUserPost">1.post: {{post.review}}</p>
</div>

<br>
<h1>Create User</h1>
<form #createUserForm ="ngForm">
  <!-- username -->
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" class="form-control" ngModel> <br>

  <!-- password -->
  <label for="password">Password:</label>
  <input type="text" name="password" id="password" class="form-control" ngModel> <br>

  <!-- age -->
  <label for="age">Age:</label>
  <input type="text" name="age" id="age" class="form-control" ngModel> <br>

  <!-- gender -->
  <label for="gender">Gender:</label>
  <input type="text" name="gender" id="gender" class="form-control" ngModel> <br>

  <!-- submit button -->
  <input type="submit" value="Create User" (click)="createNewUser(createUserForm)"> <br>
</form>
