<h1>Search for Hospitals</h1>
<form action="#" method="get" #searchform = "ngForm">
  <label for="searchedHosptial">Name: </label>
  <input ngModel type="search" class="form-control" name="searchHospital" id="searchedHosptial" placeholder="Search for hospital" #searchTerm="ngModel" >
  <input type="submit" value="Search" (click)="onSubmit(searchTerm.value)">
</form>

<!-- searched hospital table -->
<table *ngIf="selected">
  <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>street</td>
      <td>city</td>
      <td>state</td>
      <td>zip code</td>
      <td>reviews</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hospital of searchedHospitals">
      <td>{{hospital.id}}</td>
      <td>{{hospital.name}}</td>
      <td>{{hospital.street}}</td>
      <td>{{hospital.city}}</td>
      <td>{{hospital.state}}</td>
      <td>zip: {{hospital.zipCode}}</td>
      <td>
        <p *ngFor="let post of hospital.posts">{{post.review}}</p>
      </td>
    </tr>
  </tbody>
</table>

<br>
<h1>List of All hospitals</h1>

<!-- hospital table -->
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>street</td>
      <td>city</td>
      <td>state</td>
      <td>zip code</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hospital of hospitals" (click)="getSelectedHospital(hospital)">
      <td>{{hospital.id}}</td>
      <td>{{hospital.name}}</td>
      <td>{{hospital.street}}</td>
      <td>{{hospital.city}}</td>
      <td>{{hospital.state}}</td>
      <td>zip {{hospital.zipCode}}</td>
    </tr>
  </tbody>
</table>

<br>

<div *ngIf="selectedHospital">
  <h3>Update Hospital: {{selectedHospital.name}} </h3>
  <br>
  <form  #updateform = "ngForm">
    <!-- id -->
    <input [ngModel]="selectedHospital.id" type="hidden" name="id" value="selectedHospital.id">
    <!-- name -->
    <label for="hospitalNamel">Name: </label>
    <input [ngModel]="selectedHospital.name" type="text" class="form-control" name="name" id="hospitalNamel" value="selectedHospital.name" >
    <br>
    <!-- street -->
    <label for="streetl">Street Address: </label>
    <input [ngModel]="selectedHospital.street" type="text" class="form-control" name="street" id="streetl" value="selectedHospital.street" >
    <br>
    <!-- city -->
    <label for="cityl">City: </label>
    <input [ngModel]="selectedHospital.city" type="text" class="form-control" name="city" id="cityl" value="selectedHospital.city" >
    <br>
    <!-- state abbreviation -->
    <label for="statel">State Abbreviation: </label>
    <input [ngModel]="selectedHospital.state" type="text" class="form-control" name="state" id="statel" value="selectedHospital.state" >
    <br>
    <!-- zip code -->
    <label for="zipCodel">Zip Code: </label>
    <input [ngModel]="selectedHospital.zipCode" type="number" class="form-control" name="zipCode" id="zipCodel" value="selectedHospital.zipCode" >
    <br>
    <!-- submit button -->
    <input type="submit" value="Update Hospital" (click)="updateHospitalById(updateform)"> <br>
    <!-- back button-->
  <button (click)="goBack()">Back</button> <br>
  <!-- delete button -->
  <button (click)="deleteHospital(selectedHospital.id)">Delete {{selectedHospital.name}} </button>

  <br>
  </form>

  <br>
  <h4>{{selectedHospital.name}}'s post</h4>
  <p *ngFor="let post of selectedHospitalPost">Review: {{post.review}}</p>

  <br>
</div>

<h1>Create Hospitals</h1>
<form  #createform = "ngForm">
  <!-- name -->
  <label for="hospitalNamel">Name: </label>
  <input ngModel type="text" class="form-control" name="name" id="hospitalNamel" placeholder="Hospital Name" >
  <br>
  <!-- street -->
  <label for="streetl">Street Address: </label>
  <input ngModel type="text" class="form-control" name="street" id="streetl" placeholder="Street Address" >
  <br>
  <!-- city -->
  <label for="cityl">City: </label>
  <input ngModel type="text" class="form-control" name="city" id="cityl" placeholder="City Name" >
  <br>
  <!-- state abbreviation -->
  <label for="statel">State Abbreviation: </label>
  <input ngModel type="text" class="form-control" name="state" id="statel" placeholder="State Abbreviation" >
  <br>
  <!-- zip code -->
  <label for="zipCodel">Zip Code: </label>
  <input ngModel type="number" class="form-control" name="zipCode" id="zipCodel" placeholder="Zip Code" >
  <br>
  <!-- submit -->
  <input type="submit" value="Add Hospital" (click)="createNewHospital(createform)">
</form>


<!-- forms to create each entity -->
<!-- <div id="createHospital">
  <h2>Create a Hospital</h2>
  <form action="" method="post" #createHospital="ngForm">
    <input type="text" name="name" ngModel placeholder="Hosptial name">
    <input type="text" name="street" ngModel placeholder="street">
    <input type="text" name="city" ngModel placeholder="city">
    <input type="text" name="state" ngModel placeholder="state">
    <input type="text" name="zipCode" ngModel placeholder="zip code">
    <input type="submit" value="create new hospital" (click)="onSubmit(createHospital)">
  </form>
  <h2>{{hospital | json}}</h2>
</div> -->

<!-- <div id="createUser">
  <h2>Create a User</h2>
  <form action="" method="post">
    <input type="text" name="username" [(ngModel)]="user.username" placeholder="username">
    <input type="text" name="password" [(ngModel)]="user.password" placeholder="password">
    <input type="text" name="age" [(ngModel)]="user.age" placeholder="age">
    <input type="text" name="gender" [(ngModel)]="user.gender" placeholder="gender">
    <input type="submit" value="create new user">
  </form>
  <h2>{{user | json}}</h2>
</div> -->

<!-- <div id="createPost">
  <h2>Create a Post</h2>
  <form action="" method="post">
    <input type="text" name="review" [(ngModel)]="post.review" placeholder="review">
    <input type="date" name="createDate" [(ngModel)]="post.createDate" placeholder="date">
    <input type="hidden" name="user" [(ngModel)]="post.user" value={{user}} >
    <input type="hidden" name="hospital" [(ngModel)]="post.hospital" value={{hospital}}>
    <input type="hidden" name="procedure" [(ngModel)]="post.procedure" value={{procedure}}>
    <input type="submit" value="create new post">
  </form>
  <h2>{{post | json}}</h2>
</div> -->

<!-- <div id="createProcedure">
  <h2>Create a Procedure</h2>
  <form action="" method="post">
    <input type="text" name="procedureName" [(ngModel)]="procedure.procdureName" placeholder="Procedure name">
    <input type="text" name="description" [(ngModel)]="procedure.description" placeholder="description">
    <input type="number" name="cost" [(ngModel)]="procedure.cost" placeholder="cost">
    <input type="hidden" name="post" [(ngModel)]="procedure.post" value={{post}}>

    <input type="submit" value="create new procedure">
  </form>
  <h2>{{procedure | json}}</h2>
</div> -->
